@font-face{
    font-family: raleway-italic;
    src: url(./fuentes/Raleway-Italic.ttf);
}
@font-face{
    font-family: raleway-regular;
    src: url(./fuentes/Raleway-Regular.ttf);
}
@font-face{
    font-family: raleway-thin;
    src: url(./fuentes/Raleway-Thin.ttf);
}

html{
    background-color:white;
    overflow-x: hidden;
}
/**Cabecera y primer contenedor**/
html{
    overflow-x: hidden;
}
/**Fondo**/
.background{
    background-image: url(/fondos/borqueverde.jpg);
    background-repeat: no-repeat;
    height: 101vh;
    margin:0px -10px 0px -8px;
}

/**Cabecera**/
.cabecerap{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:-8px;
    padding:5px;
    font-family: raleway-regular;
    border: 1px solid #fff;
}
.logotipo{
    width: 33.3%;
}
.titulo{
    align-items: center;
    text-align: center;
    width: 33.3%;
    color:white;
}
.recursos{
    text-align:center;
    border:center;
    width: 33.3%;

}
a{
    color:white;
    text-decoration:none;
}
/**Descargar los recursos**/
.txt{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:raleway-regular;
    padding-top:20px;

}
.descarga{
    color:white;
    font-size:20px;
}

/**Seccion1 profetas**/

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:flex-start; 
    padding-top:20px;
    font-size:24px;
    font-family:raleway-regular;
}  
.item-0{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;
    padding:10px;
}
        
.item-1{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;
    padding:10px;
}
        
.item-2{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;
    padding:10px;

}
        
.item-3{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;
    padding:10px;
    
}
        
.item-4{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;
    padding:10px;

}
        
.item-5{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:auto;
    padding:10px;
    
}



a{
    color:white;
    
}
a:hover{
    color:purple;
    text-decoration:line-through;
}

/**Pie de pagina**/
.piedepagina{
    height: 10vh;
}
.piep{
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    
    width: 100%;
}
.facef, .instaf{
    width: 35px;
    display:inline;
    padding:25px 20px 0px 20px;
}


@media (max-width:400px){
    .background{
        width: 375px;
    }
    .gridd{
        display: grid;
        grid-template-columns: 1fr 2fr;
        
    }
}
